.card {
  width: 300px;
  border: 10px solid black;
  padding: 40px;
  text-align: center;
  font-style: italic;
  background-color:aliceblue;
 
  
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card h1 {
    color: blue;
  margin-top: 5px;
  text-align: center;
}

.card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.card ul.links li {
  display: inline-block;
  margin-right: center;
  text-align: center;
}

.card ul.links li:last-child {
    font-display: center;
  margin-right: center;
 
}

